<%= form_for(comment, :url => comments_url_for(comment), :html => { :class => 'new_comment' }) do |f| %>
  <%= f.hidden_field :parent_id, :value => comment.parent_id %>
  <p><%= f.label :name %>:<%= f.text_field :name %><br />
  <%= f.label :email %>:<%= f.text_field :email %><br />
  <%= f.label :website %>:<%= f.text_field :website %><br />
  <%= f.label :body %>: <%= f.text_area :body %><br />
  <%= f.submit %></p>
<% end %>