<!DOCTYPE html>
<html>
<head>
  <title>HTMLcast</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag 'jQuery', 'rails', 'rails.validations.js', 'application', 'comments', 'jquery_plugins/jquery.color.js' %>
  <%= csrf_meta_tag %>
  <%= include_tiny_mce_if_needed %>
  <script>
  $(function() {
    var colors = {
      values: new Array('red', 'green', 'blue'),
      pos: -1,

      next: function() {
        var values = this.values;
        this.pos++;
        if(this.pos >= values.length) this.pos = 0;
        return values[this.pos];
      }
    };

    function animate() {
      $("body").animate({
        backgroundColor: colors.next()
      }, 15000, animate);
    }
    animate();
  });
  </script>
</head>
<body>

<%= content_tag :h1, current_user.name if current_user.present? %>

<% flash.each do |key, msg| %>
  <%= content_tag :div, msg, :id => key %>
<% end %>

<%= render :partial => 'shared/search_form' %>

<%= render :partial => 'pages/navigation' %>

<%= yield %>

<%= render :partial => 'shared/tag_cloud', :locals => { :tags => @tags } if defined? @tags and @tags.present? %>

</body>
</html>
