<!DOCTYPE html>
<html>
<head>
  <title>HTMLcast</title>
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tag %>
  <%= include_tiny_mce_if_needed %>
  <!--[if lt IE 9]>
  <script src="assets/html5.js"></script>
  <![endif]-->
</head>
<body>

<div id="main">
  <%= render :partial => 'pages/navigation' %>

  <div class="col-main">
    <div class="col-inner">
      <header class="header">
        <%= link_to image_tag('logo.png', :id => 'logo'), root_url %>
        <%= render :partial => 'shared/search_form' %>
        <div class="social">
          <%= link_to '&nbsp;'.html_safe, 'http://www.facebook.com/htmlcast', :class => 'facebook' %>
          <%= link_to '&nbsp;'.html_safe, 'http://twitter.com/#!/lshadyl', :class => 'twitter' %>
          <%= link_to '&nbsp;'.html_safe, root_url(:format => 'atom'), :class => 'rss' %>
        </div>
      </header>
    
      <article class="article">
        <% flash.each do |key, msg| %>
          <%= content_tag :div, msg, :id => key %>
        <% end %>

        <%= yield %>
      </article>

      <aside class="aside">
        <%= content_tag :h2, t(:categories, :scope => :categories) %>
        <%= build_categories(@main_categories) %>

        <%= content_tag :h2, t(:tags, :scope => :tags) %>
        <%= render :partial => 'shared/tag_cloud', :locals => { :tags => @tags } if defined? @tags and @tags.present? %>
      </aside>

      <div class="line">&nbsp;</div>
    </div>
  </div>
</div>

</body>
</html>
